body {
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.puppy-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.puppy-cell {
  background-color: rgba(104, 62, 62, 0.8);
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}

.puppy-cell:hover {
  background-color: #ff0404;
}
.featured-puppy {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgba(104, 62, 62, 0.8);
}

.featured-puppy h2 {
  margin-top: 0;
}

.featured-puppy ul {
  list-style-type: none;
  padding: 0;
}

.featured-puppy li {
  margin-bottom: 10px;
}